* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.metamask-list-container {
  margin-top: 3rem;
}

.vote-btn {
  display: block;
  margin: 15px auto;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: black;
  box-shadow: 2px 2px 2px black;
}

.vote-btn:hover {
  background-color: rgb(174, 174, 174);
  color: black;
}

p {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 10px;
  color: grey;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

input[type="text"],
select {
  width: 300px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 20px;
  background-color: #282938;
  text-align: center;
  color: white;
}

input[type="number"],
select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #282938;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #c6c6c6;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

span {
  display: block;
  margin-bottom: 10px;
}

#pieChart {
  width: 400px; 
  height: 400px; 
}

table {
  margin: 0 auto;
  width: 100%;
  color: white; 
}

th {
  background-color: #282938;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid white; 
}

tr {
  border-bottom: 1px solid white;
  background-color: #282938; 
}

td {
  border-bottom: 1px solid white;
  padding: 8px;
}

#cityBarGraph, #overallWinnerGraph, #stateBarGraph {
  display: block;
  margin: 0 auto;
<<<<<<< HEAD
  width: 20%; 
  height: 20vh;
  
}
#overallWinnerGraph  {
  display: block;
  margin: 0 auto;
  width: 20%; /* Adjust the width as needed */
  height: 20vh; /* Adjust the height as needed */
  
}
#stateBarGraph  {
  display: block;
  margin: 0 auto;
  width: 20%; /* Adjust the width as needed */
  height: 20vh; /* Adjust the height as needed */
  
=======
  width: 100%;
  height: 40vh; 
>>>>>>> c985359166379d25ff23dc7553278309c3594725
}

.table-graph-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

.table {
  width: 45%;
}

.graph {
  width: 45%;
}
